@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand SC', cursive;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    z-index: 2;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between; 

}

.logo {
    max-width: 5px;
    max-width: 5px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('content/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.menu {
    display: none;
}
